{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

 <div>
    <main>
        <div>
            <h3 >My education</h3>
           
             <p ><strong>Червонослобідська школа №2</strong> (true)</p>       
            <p> <strong> Черкаський Державний Технологічний Уніварситет </strong> (true)</p>
            <p><strong>IT BRAINS</strong> (ще в процесі)</p>  

        </div>
  <div>
    <h4 class="mt-5">My certificates</h4>
    <ul class="list-group list-group-flush">
  <li class="list-group-item">школа (123123)</li>
  <li class="list-group-item">університе (123123)</li>
  <li class="list-group-item">курси (123123)</li>
 
</ul>
  </div>
    </main>
 </div>
{{!--
<div>


       {{#with main}}
    <main>
        <section>
             {{>title data='My education'  big=true}}

            <ul>
                {{#each education}}
                <li>
                    {{name}}
                    {{#if isEnd includeZero=true}} ( {{isEnd}}) {{/if}}
                 
                    {{#unless isEnd includeZero=true}} ( ще в процесі) {{/unless}}             
                
                     </li>
                {{/each}}
            </ul>
        </section>
        <section>
            {{>title data="My certificates"}}
            <ul>
                {{#each certificates}}
                <li>
                    {{name}} ({{id}})
                  
                    
                </li>
                {{/each}}
            </ul>
        </section>
  
       
    </main>
{{/with}}
</div>

--}}


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}