{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div>

    <main>
        <h3>Список сторінок</h3>
<div class="row">
    <div class="">
    <p> <a  href="/summary" text="Summary" class="btn btn-primary col-4 m-2 p-2"  role="button">Summary</a></p>
    <p> <a   href="/skills" text="Skills" class="btn btn-primary col-4 m-2 p-2"  role="button">Skills</a></p>
    <p> <a  href="/education"  text="Education" class="btn btn-primary col-4 m-2 p-2"  role="button">Education</a></p>
    <p> <a  href="/work"  text="Work" class="btn btn-primary col-4 m-2 p-2"  role="button">Work</a></p>
    <p> <a  href="/person"  text="Person" class="btn btn-primary col-4 m-2 p-2"  role="button">Person</a></p>
    <p> <a  href="/bio" text="Bio" class="btn btn-primary col-4 m-2 p-2"  role="button">Bio</a></p>
    <p> <a  href="/program" text="Program" class="btn btn-primary col-4 m-2 p-2"  role="button">Program</a></p>
    <p> <a  href="/web" text="Web" class="btn btn-primary col-4 m-2 p-2"  role="button">Web</a></p>
    <p> <a  href="/js" text="Js" class="btn btn-primary col-4 m-2 p-2"  role="button">Js</a></p>
    <p> <a  href="/car" text="Car" class="btn btn-primary col-4 m-2 p-2"  role="button">Car</a></p>
    <p> <a  href="/mac" text="Mac" class="btn btn-primary col-4 m-2 p-2"  role="button">Mac</a></p>
    <p> <a  href="/facebook" text="Facebook" class="btn btn-primary col-4 m-2 p-2"  role="button">Facebook</a></p>
    <p> <a  href="/task21" text="Task21" class="btn btn-primary col-4 m-2 p-2"  role="button">Task21</a></p>
    <p> <a  href="/task22" text="Task22" class="btn btn-primary col-4 m-2 p-2"  role="button">Task22</a></p>
    <p> <a  href="/task31" text="Task31" class="btn btn-primary col-4 m-2 p-2"  role="button">Task31</a></p>
    <p> <a  href="/shophome" text="Shophome" class="btn btn-primary col-4 m-2 p-2"  role="button">Shophome</a></p>
    <p> <a  href="/shoporder" text="Shoporder" class="btn btn-primary col-4 m-2 p-2"  role="button">Shoporder</a></p>
    <p> <a  href="/shopcart" text="Shopcart" class="btn btn-primary col-4 m-2 p-2"  role="button">Shopcart</a></p>
    <p> <a  href="/shopprofile" text="Shopprofile" class="btn btn-primary col-4 m-2 p-2"  role="button">Shopprofile</a></p> 
    <p> <a  href="/shopreview" text="Shopreview" class="btn btn-primary col-4 m-2 p-2"  role="button">Shopreview</a></p>  
    <p> <a  href="/shopcatalog" text="Shopcatalog" class="btn btn-primary col-4 m-2 p-2"  role="button">Shopcatalog</a></p>  
       
</div>
</div>
   
    </main>

  
</div>


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}