{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div>
    <main>
   <div class="nav">
       <ul class="nav">
              <li><a href="https://githu" class="nav-link">Home </a></li>
             
              <li><a href="https://www.google.com/" class="nav-link">Contacts </a></li>
          
             
              <li><a href="https://www.youtube.com/"  class="nav-link">Help </a></li>
           
         
       </ul> 
   </div>
   <hr>
   <br>
   <section>
    <div>
      <h2>Мої замовлення</h2>
    </div>
    <div>
      <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Всі замовлення</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Гарантія та повернення</a>
  </li>
    </ul>
    </div>
     
</section>


<section>


  <input type="text" id="#" placeholder="Placeholder">

 <a href="https://www.youtube.com/"  class="btn btn-success">Знайти</a>
 <a href="https://www.youtube.com/"  class="btn btn-outline-success">Виділити все </a>
  <a href="https://www.youtube.com/"  class="btn btn-outline-danger">Очистити все</a>


</section>

<hr>
<section>
  
  <div  >
    <div class="row">
        <div class="col-4">
        <p ><small>№12587463 від 01.01.2023</small></p>       
        <h6>Виконано</h6>
         </div>
       <diV class="col-2"><p>Сума</p>
       <p class="h6">25 000 ₴</p> 
       </diV>
       <div class="col-4" >
             <img class=" col-4 rounded "src="https://picsum.photos/110/110"   >
      </div>
     
       <div class="col-2  mt-2">
         <a href="https://www.youtube.com/" class="btn btn-primary ">Детальніше</a>
         </div>
         </div>
         </div>
         <hr>

         <div  >
     <div class="row">
      <div class="col-4">
      <p ><small>№12587463 від 01.01.2023</small></p>       
      <h6>Виконано</h6>
       </div>
     <diV class="col-2"><p>Сума</p>
     <p class="h6">25 000 ₴</p> 
     </diV>
     <div class="col-4" >
   
           <img class=" col-3 rounded " src="https://picsum.photos/110/110"   >
           
              <img class="col-3 rounded " src="https://picsum.photos/110/110"   >
              
                 <img class="col-3 rounded " src="https://picsum.photos/110/110"   >
    </div>
   
     <div class="col-2  mt-2">
       <a href="https://www.youtube.com/" class="btn btn-primary ">Детальніше</a>
       </div>
       </div>
       </div>
       <hr>
            
     <div  >
 <div class="row">
  <div class="col-4">
  <p ><small>№12587463 від 01.01.2023</small></p>       
  <h6>Виконано</h6>
   </div>
 <diV class="col-2"><p>Сума</p>
 <p class="h6">25 000 ₴</p> 
 </diV>
 <div class="col-4" >
       <img   class="col-4 rounded " src="https://picsum.photos/110/110"  >
         <img   class="col-4 rounded " src="https://picsum.photos/110/110"  >
</div>
 <div class="col-2  mt-2">
   <a href="https://www.youtube.com/" class="btn btn-primary ">Детальніше</a>
   </div>
   </div>
   </div>
   <hr>
         </section>
         <hr>
         <br>
    <section>
      <br>
      <br>
      <div>
        <h3>Особиста інформація</h3>
      </div>
     <br>
     <br>
      <div class="card "> 
        <h4>Особисті дані</h4>
      <div class="card m-2 p-2">
        <div class="row">
         <div class="col-4">
         <p ><small>Прізвище</small></p>       
         <h6>Іванов</h6>
          </div>
        <diV class="col-4">
         <p> <small>Ім’я</small></p>
        <p class="h6">Іван</p> 
           </div>
        <div class="col-4" >
               <p ><small>По-батькові</small></p>
               <h6>Іванович</h6>
        </div>
        </div>
      </div>

        <div class="card m-2 p-2">
           <div class="row">
               <div class="col-4">
               <p ><small>Дата народження</small></p>       
               <h6>01.01.2000</h6>
                </div>
              <div class="col-4">
               <p> <small>Стать</small></p>
                <h6>Чоловіча</h6>
                </div>
                <div class="col-4"> 
                     <p ><small>Мова</small></p>
                     <h6>Українська</h6>
                     </div>
              </div>
           </div>
      
        <div class="card m-2 p-2">
           <div class="row">
     <div class="col-4">
   <a href="https://www.youtube.com/" class="btn btn-primary ">Редагувати</a>
 
      </div>
    <div class="col-4">
     <a href="https://www.youtube.com/" class="btn btn-outline-secondary ">Очистити</a>
      
      </div>
      <div class="col-4"> 
        <a href="https://www.youtube.com/" class="btn btn-outline-danger ">Видалити</a>
           </div>
    </div>

        </div>
      </div>
    </section>
      <section>
        <div class="card ">
          <h4>Отримувачі</h4>
       <div class="row m-2 p-1">
        <div class="card col-4 p-1 m-1">
          <p >Іванов Іван Іванович</p>
        <p>+38 (098) 222 22 2</p>
        <div class="col-2">
         <a href="https://www.youtube.com/" class="btn btn-primary ">Редагувати</a>
        </div>
        </div>

          <div class="card col-4 p-1 m-1">
         <p >Петров Петро Петрович</p>
          <p>+38 (098) 111 11 11</p>
           <div class="col-2">
            <a href="https://www.youtube.com/" class="btn btn-primary ">Редагувати</a>
           </div>
            </div>
            </div>
        </div>
      </section>
      <section>
  <div class="card ">
    <h4>Контакти</h4>
 <div class="row m-1">
  <div class="card col-4 ">
    <p >Номер телефону</p>
  <p>+38 (098) 222 22 2</p>
  <div class="col-2">
   <a href="https://www.youtube.com/" class="btn btn-primary ">Редагувати</a>
  </div>
  </div>
    <div class="card col-4 ">
   <p >Додатковий номер телефону</p>
    <p>+38 (098) 111 11 11</p>
     <div class="col-2">
      <a href="https://www.youtube.com/" class="btn btn-outline-secondary ">Очистити</a>
     </div>
      </div>

        <div class="card col-4 ">
      <p >Електронна адреса</p>
      <p>ivanivanov@ukr.net</p>
        <div class="col-2">
       <a href="https://www.youtube.com/" class="btn btn-outline-danger">Видалити</a>
      </div>
      </div>
      </div>
  </div>
</section>
     
     

<hr>

  <section class="row">
  
   <div class="col-2" >
  <div class="list-group">
  <a href="https://www.youtube.com/" class="btn btn-link">Home</a>
  <a href="https://www.youtube.com/feed/subscriptions.com/feed/trending" class="btn btn-link">Trending</a>
  <a href="https://www.youtube.com/feed/subscriptions" class="btn btn-link">Subscriptions</a>
  <a href="https://www.youtube.com/feed/library" class="btn btn-link disabled">Library</a>
  </div>
  </div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history" class="btn btn-link">History</a>
 <a href="https://www.youtube.com/feed/my_videos" class="btn btn-link">Your Videos</a>
 <a href="https://www.youtube.com/live" class="btn btn-link">Live</a>
 <a href="https://www.youtube.com/accoun" class="btn btn-link disabled">Settings</a>
 </div>
 </div>

  <div class="col-2" >
<div class="list-group">
<a href="https://www.youtube.com/playlist?list=WL" class="btn btn-link">Watch Later</a>
<a href="https://www.youtube.com/playlist?list=LL" class="btn btn-link">Liked Videos</a>
<a href="https://www.youtube.com/music" class="btn btn-link">Music</a>
<a href="https://www.youtube.com/gaming" class="btn btn-link disabled">Gaming</a>
</div>
</div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="btn btn-link">Sports</a>
 <a href="https://www.youtube.com/news" class="btn btn-link">News</a>
 <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="btn btn-link">LFashion & Beauty</a>
 <a href="https://www.youtube.com/learning" class="btn btn-link disabled">Learning</a>
 </div>
 </div>

   <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history/report_history" class="btn btn-link">Report History</a>
 <a href="hhttps://support.google.com/youtube/?hl=en" class="btn btn-link">Help</a>
 <a href="hhttps://support.google.com/youtube/answer/4347644?hl=en" class="btn btn-link">Send Feedback</a>
 <a href="hhttps://www.youtube.com/about" class="btn btn-link disabled">About</a>
 </div>
 </div>



</section>
    </main>

</div>


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}