{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

 <div>
{{#with shophome}}
    <main>
        <hr>
     
        <div class="nav">
            <ul class="nav">
                   <li><a href="https://githu" class="nav-link">Home </a></li>
                  
                   <li><a href="https://www.google.com/" class="nav-link">Contacts </a></li>
               
                  
                   <li><a href="https://www.youtube.com/"  class="nav-link">Help </a></li>
                
                     <li><a href="https://nodejs.org/en/" class="btn btn-primery disabled">Lets start</a></li>
              
            </ul> 
        </div>
   
        <hr>
        <br>
        
        
        
        
      <section class="row">
        <h2 class="text-center">Latest News</h2>
        <div class="col-3 g-1">
        <div class="card ">
            <div>
                 <div class="text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">COVID-19 Vaccinations Begin in Europe</h5>
                 <span class="badge text-bg-danger">false</span>
                 <span class="badge text-bg-danger">false</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> As the world continues to grapple with the ongoing COVID-19 pandemic, Europe begins its vaccination rollout, with healthcare workers and the elderly among the first to receive the vaccine.</p>
                  </div>
                    </div>
            </div>
        </div>
        </div>

         <div class="col-3 g-1">
         <div class="card  ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">Tesla Stock Surges After Record Sales</h5>
                 <span class="badge text-bg-success">true</span>
                 <span class="badge text-bg-success">true</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> Tesla's stock price jumps 10% following the company's announcement of record sales in the last quarter, thanks in part to strong demand for its electric vehicles.</p>
                  </div>
                    </div>
            </div>
        </div>
        </div>

        <div class="col-3 g-1">
         <div class="card ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">New Study Shows Benefits of Meditation for Mental Health</h5>
                 <span class="badge text-bg-danger">false</span>
                 <span class="badge text-bg-danger">false</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> A new study published in the Journal of the American Medical Association finds that practicing mindfulness meditation can lead to improved mental health outcomes for people struggling with depression and anxiety.</p>
                  </div>
                    </div>
            </div>
        </div>
        </div>
         
         <div class="col-3 g-1">
         <div class="card ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">NASA Launches New Mars Rover</h5>
                 <span class="badge text-bg-danger">false</span>
                 <span class="badge text-bg-success">true</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> NASA's Perseverance rover successfully launches on a mission to explore Mars, with the goal of collecting samples of the planet's surface and searching for signs of ancient microbial life.</p>
                  </div>
                    </div>
            </div>
        </div>
        </div>
         
         <div class="col-3 g-1">
         <div class="card ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">GameStop Shares Soar as Reddit Traders Rally</h5>
                 <span class="badge text-bg-danger">false</span>
                 <span class="badge text-bg-danger">false</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> Shares of GameStop surge as amateur traders on the social media platform Reddit rally to drive up the price, in what some are calling a battle between Wall Street and Main Street.</p>
                  </div>
            </div>          
        </div>
        </div>
        </div>

        <div class="col-3 g-1 ">
         <div class="card ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">UK Announces Plan to Ban Sale of Gas-Powered Cars by 2030</h5>
                 <span class="badge text-bg-success">true</span>
                 <span class="badge text-bg-danger">false</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> In an effort to combat climate change, the UK government announces a plan to ban the sale of new gas-powered cars and vans by 2030, with hybrid vehicles to follow in 2035.</p>
                  </div>
                    </div>
            </div>
        </div>
        </div> 
         
         <div class="col-3 g-1">
         <div class="card ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">New Study Shows Link Between Exercise and Longevity</h5>
                 <span class="badge text-bg-danger">false</span>
                 <span class="badge text-bg-danger">false</span>
                 </div>
                <div class="card-body">
                  <p class="card-text"> A new study published in the Journal of the American Medical Association suggests that regular exercise can help people live longer, with participants who exercised regularly having a lower risk of premature death.</p>
                  </div>
                    </div>
            </div>
        </div>
        </div>
         
         <div class="col-3 g-1">
          <div class="card ">
            <div>
                 <div class="card text-bg-secondary">
                 <div class="card-header">
                 <h5 class="card-title">Amazon Expands Grocery Delivery Service</h5>
                 <span class="badge text-bg-danger">false</span>
                 <span class="badge text-bg-success">true</span>
                 </div>
                <div class="card-body">
                  <p class="card-text">Amazon announces an expansion of its grocery delivery service, with plans to offer free delivery to Prime members on orders over $35 and to expand its selection of fresh and organic produce.</p>
                  </div>
                    </div>
            </div>
            </div>
            </div>

        </section>
        <hr>
        <section class="row">
          <ul class="nav nav-tabs">
               <li class="nav-item col-2">
                <a class="nav-link active" aria-current="page" href="#">Electronics</a>
               </li>
               <li class="nav-item col-2">
                <a class="nav-link" href="#">Home & Kitchen</a>
               </li>
               <li class="nav-item col-2">
                <a class="nav-link" href="#">Clothing & Accessories</a>
                </li>
               <li class="nav-item col-2">
                 <a class="nav-link disabled">Toys & Games</a>
                 </li>
          </ul>
        </section>
        <br>
        <br>


        <section class="row">

          <div class="col-4 g-2">
          <div class="card" >
             <img src="https://picsum.photos/400/200" class="card-img-top" >
                  <div class="card-body">
                  <h5 class="card-title">iPhone 13
                  <span class="badge text-bg-warning">false</span>
                  <span class="badge text-bg-primary">false</span></h5>              
                   <p class="card-text">'The latest iPhone model features a new A15 Bionic chip, improved camera system, and longer battery life.</p>
                   </div>
          </div>
          </div>


          <div class="col-4 g-2">
          <div class="card " >
             <img src="https://picsum.photos/400/200" class="card-img-top" >
             <div class="card-body">
             <h5 class="card-title">MacBook Pro
             <span class="badge text-bg-warning">false</span>
             <span class="badge text-bg-primary">false</span></h5>
              <p class="card-text">Apple's high-end laptop features a 16-inch Retina display, powerful M1 Pro or M1 Max chip, and up to 64GB of RAM.</p>
         </div>
          </div>
          </div>


           
        <div class="col-4 g-2">
        <div class="card " >
            <img src="https://picsum.photos/400/200" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">AirPods Pro
           <span class="badge text-bg-warning">false</span>
             <span class="badge text-bg-primary">false</span></h5>
            <p class="card-text">Apple's premium wireless earbuds feature active noise cancellation, a customizable fit, and up to 4.5 hours of listening time</p>
         </div>
          </div>
          </div>


        <div class="col-4 g-2">
        <div class="card " >
            <img src="https://picsum.photos/400/200" class="card-img-top" >
            <div class="card-body">
            <h5 class="card-title">Sony Bravia XR A90J
           <span class="badge text-bg-warning">false</span>
           <span class="badge text-bg-primary">true</span></h5>
           <p class="card-text">This OLED TV boasts a 4K resolution, HDR support, and a high refresh rate for smooth motion handling.</p>
         </div>
          </div>
          </div>


           <div class="col-4 g-2">
          <div class="card " >
              <img src="https://picsum.photos/400/200" class="card-img-top" >
           <div class="card-body">
               <h5 class="card-title">Nintendo Switch OLED Model
                <span class="badge text-bg-warning">false</span>
                <span class="badge text-bg-primary">true</span></h5>
                 <p class="card-text">The latest iteration of the popular gaming console features a larger OLED screen and improved audio quality.</p>
            </div>
           </div>
           </div>
   

         <div class="col-4 g-2">
          <div class="card " >
               <img src="https://picsum.photos/400/200" class="card-img-top" >
            <div class="card-body">
                 <h5 class="card-title">Bose SoundLink Revolve+
                 <span class="badge text-bg-warning">true</span>
                  <span class="badge text-bg-primary">true</span></h5>
                  <p class="card-text">This portable Bluetooth speaker features 360-degree sound, water-resistant construction, and up to 16 hours of battery life.</p>
             </div>
          </div>
          </div>
        </section>

<hr>
     <section>
      <div class="card text-bg-dark">
        <h2>Unlock Premium Content</h2>
        <p>Subscribe to access exclusive content and features</p>

        <div>
       <p> <a href="https://www.youtube.com/" class="btn btn-primary"  role="button">Register Now</a></p>
     
      <p><a href="'https://www.youtube.com/" class="btn btn-primary"  role="button">Buy Subscription</a></p>
      </div>
      </div>

     </section>

<hr>
<section>

      <div class="card text-bg-success">
        <h2 class="text-center">Our Services</h2>
       <p class="text-center">We offer a variety of services to meet your needs, including web design, content creation, and social media management.</p>
      <div class="text-center">
      <p> <a href="https://www.youtube.com/" class="btn btn-primary"  role="button">Show More</a></p>
      
      </div>
      </div>
</section>

<hr>

<section class="row">
   
   <div class="col-2" >
  <div class="list-group">
  <a href="https://www.youtube.com/" class="btn btn-link">Home</a>
  <a href="https://www.youtube.com/feed/subscriptions.com/feed/trending" class="btn btn-link">Trending</a>
  <a href="https://www.youtube.com/feed/subscriptions" class="btn btn-link">Subscriptions</a>
  <a href="https://www.youtube.com/feed/library" class="btn btn-link disabled">Library</a>
  </div>
  </div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history" class="btn btn-link">History</a>
 <a href="https://www.youtube.com/feed/my_videos" class="btn btn-link">Your Videos</a>
 <a href="https://www.youtube.com/live" class="btn btn-link">Live</a>
 <a href="https://www.youtube.com/accoun" class="btn btn-link disabled">Settings</a>
 </div>
 </div>

  <div class="col-2" >
<div class="list-group">
<a href="https://www.youtube.com/playlist?list=WL" class="btn btn-link">Watch Later</a>
<a href="https://www.youtube.com/playlist?list=LL" class="btn btn-link">Liked Videos</a>
<a href="https://www.youtube.com/music" class="btn btn-link">Music</a>
<a href="https://www.youtube.com/gaming" class="btn btn-link disabled">Gaming</a>
</div>
</div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="btn btn-link">Sports</a>
 <a href="https://www.youtube.com/news" class="btn btn-link">News</a>
 <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="btn btn-link">LFashion & Beauty</a>
 <a href="https://www.youtube.com/learning" class="btn btn-link disabled">Learning</a>
 </div>
 </div>

   <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history/report_history" class="btn btn-link">Report History</a>
 <a href="hhttps://support.google.com/youtube/?hl=en" class="btn btn-link">Help</a>
 <a href="hhttps://support.google.com/youtube/answer/4347644?hl=en" class="btn btn-link">Send Feedback</a>
 <a href="hhttps://www.youtube.com/about" class="btn btn-link disabled">About</a>
 </div>
 </div>

</section>


 
    </main>
{{/with}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}