{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div>
    <main>
   <div class="nav">
       <ul class="nav">
              <li><a href="https://githu" class="nav-link">Home </a></li>
             
              <li><a href="https://www.google.com/" class="nav-link">Contacts </a></li>
          
             
              <li><a href="https://www.youtube.com/"  class="nav-link">Help </a></li>
           
               <li><a href="#" class=" nav-link disabled">Exit</a></li>
         
       </ul> 
   </div>
   <hr>
   <br>
   <section>
    <div>
      <h2>Кошик</h2>
    </div>
    <div>
      <a href="https://www.youtube.com/" class="btn btn-outline-secondary ">Продовжити покупки</a>
    </div>
     
</section>
<hr>

<section>
  
  <div  class="card  mb-2 p-2">
    <div class="row">
  <div   class="col-2">
   <img src="https://picsum.photos/110/110"  class="img-fluid rounded-start" ></div>
 
        <div class="col-4">
        <h6>Samsung Galaxy S21 Ultra</h6>       
             
         <p >'екран 6.8", процесор Exynos 2100/Snapdragon 888, 12 ГБ ОЗУ, камера 108 МП, акумулятор 5000 мАг</p>
         </div>
       <diV class="col-2 pt-6"><p>Ціна</p>
       <p>25 000 ₴</p> </diV>
       <diV  class="col-2 ">
        <p>1 шт</p></diV>
       <div class="col-2  mt-3">
         <div class="mb-2" >   <a href="https://www.youtube.com/" class="btn btn-primary ">Додати</a></div> 
         <div  ><a href="https://www.youtube.com/" class="btn btn-outline-danger ">Видалит</a>
        </div>
         </div>
         </div>
         </div>

<div  class="card mb-2 p-2">
  <div class="row">
<div   class="col-2">
 <img src="https://picsum.photos/110/110"  class="img-fluid rounded-start" ></div>
      <div class="col-4">
      <h6>Ноутбук Dell XPS 13</h6>       
           
       <p >екран 13.3", процесор Intel Core i7-1165G7, 16 ГБ ОЗУ, SSD на 512 ГБ, вага 1.2 кг</p>
       </div>
     <diV class="col-2 "><p>Ціна</p>
     <p>25 000 ₴</p> </diV>
     <diV  class="col-2">1 шт</diV>
     <div class="col-2 mt-3">
       <div class="mb-2">   <a href="https://www.youtube.com/" class="btn btn-primary ">Додати</a></div> 
       <div><a href="https://www.youtube.com/" class="btn btn-outline-danger ">Видалит</a>
      </div>
       </div>
       </div>
       </div>


       <div  class="card mb-2 p-2">
  <div class="row">
<div   class="col-2">
 <img src="https://picsum.photos/110/110"  class="img-fluid rounded-start" ></div>
      <div class="col-4">
      <h6>Телевізор LG OLED CX</h6>       
         
       <p>екран 55", роздільна здатність 4K, Smart TV, HDR, звук Dolby Atmos, 4 HDMI порти, 3 USB порти.</p>
       </div>
     <diV class="col-2"><p>Ціна</p>
     <p>25 000 ₴</p> </diV>
     <diV  class="col-2">1 шт</diV>
     <div class="col-2 mt-3">
       <div class="mb-2">   <a href="https://www.youtube.com/" class="btn btn-primary ">Додати</a></div> 
       <div><a href="https://www.youtube.com/" class="btn btn-outline-danger ">Видалит</a>
      </div>
       </div>
       </div>
       </div>



       <div  class="card mb-2 p-2">
  <div class="row">
<div   class="col-2">
 <img src="https://picsum.photos/110/110"  class="img-fluid rounded-start" ></div>
      <div class="col-4">
      <h6>Навушники Sony WH-1000XM4</h6>       
           
       <p >Bluetooth 5.0, активне шумозаглушення, 30 годин автономної роботи, сенсорне управління, вага 254 г.</p>
       </div>
     <diV class="col-2"><p>Ціна</p>
     <p>25 000 ₴</p> </diV>
     <diV  class="col-2 mt-2">1 шт</diV>
     <div class="col-2 mt-3">
       <div class="mb-2">   <a href="https://www.youtube.com/" class="btn btn-primary ">Додати</a></div> 
       <div><a href="https://www.youtube.com/" class="btn btn-outline-danger ">Видалит</a>
      </div>
       </div>
       </div>
       </div>

<hr>

<section>
  <div>
    <h2>Сума замовлення</h2>
    <h2>75 000 ₴</h2>
    <p>Без доставки</p>
  </div>
  <div  >
     <a href="https://www.youtube.com/" class="btn btn-success ">Оформити замовлення</a>
     </div>
     <div>
  <a href="https://www.youtube.com/" class="btn btn-outline-success ">Офрмити кредит</a>
</div>
</section>

<hr>
<section>
   <section class="row">
    <div>
      <h3 class="text-center">See other products</h3>
    </div>
   <div class="col-4 g-2">
   <div class="card" >
      <img src="https://picsum.photos/400/200" class="card-img-top" >
           <div class="card-body">
           <h5 class="card-title">iPhone 13
           <span class="badge text-bg-warning">false</span>
           <span class="badge text-bg-primary">false</span></h5>              
            <p class="card-text">'The latest iPhone model features a new A15 Bionic chip, improved camera system, and longer battery life.</p>
            </div>
   </div>
   </div>
   <div class="col-4 g-2">
   <div class="card " >
      <img src="https://picsum.photos/400/200" class="card-img-top" >
      <div class="card-body">
      <h5 class="card-title">MacBook Pro
      <span class="badge text-bg-warning">true</span>
      <span class="badge text-bg-primary">false</span></h5>
       <p class="card-text">Apple's high-end laptop features a 16-inch Retina display, powerful M1 Pro or M1 Max chip, and up to 64GB of RAM.</p>
  </div>
   </div>
   </div>
    
 <div class="col-4 g-2">
 <div class="card " >
     <img src="https://picsum.photos/400/200" class="card-img-top" >
     <div class="card-body">
     <h5 class="card-title">AirPods Pro
    <span class="badge text-bg-warning">false</span>
      <span class="badge text-bg-primary">false</span></h5>
     <p class="card-text">Apple's premium wireless earbuds feature active noise cancellation, a customizable fit, and up to 4.5 hours of listening time</p>
  </div>
   </div>
   </div>
</section>
<hr>


   <section>
  <div class="card text-bg-dark">
    <h2>Unlock Premium Content</h2>
    <p>Subscribe to access exclusive content and features</p>
    <div>
   <p> <a href="https://www.youtube.com/" class="btn btn-primary"  role="button">Register Now</a></p>
 
  <p><a href="'https://www.youtube.com/" class="btn btn-primary"  role="button">Buy Subscription</a></p>
  </div>
  </div>
 </section>
<hr>



  <section class="row">
  
   <div class="col-2" >
  <div class="list-group">
  <a href="https://www.youtube.com/" class="btn btn-link">Home</a>
  <a href="https://www.youtube.com/feed/subscriptions.com/feed/trending" class="btn btn-link">Trending</a>
  <a href="https://www.youtube.com/feed/subscriptions" class="btn btn-link">Subscriptions</a>
  <a href="https://www.youtube.com/feed/library" class="btn btn-link disabled">Library</a>
  </div>
  </div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history" class="btn btn-link">History</a>
 <a href="https://www.youtube.com/feed/my_videos" class="btn btn-link">Your Videos</a>
 <a href="https://www.youtube.com/live" class="btn btn-link">Live</a>
 <a href="https://www.youtube.com/accoun" class="btn btn-link disabled">Settings</a>
 </div>
 </div>

  <div class="col-2" >
<div class="list-group">
<a href="https://www.youtube.com/playlist?list=WL" class="btn btn-link">Watch Later</a>
<a href="https://www.youtube.com/playlist?list=LL" class="btn btn-link">Liked Videos</a>
<a href="https://www.youtube.com/music" class="btn btn-link">Music</a>
<a href="https://www.youtube.com/gaming" class="btn btn-link disabled">Gaming</a>
</div>
</div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="btn btn-link">Sports</a>
 <a href="https://www.youtube.com/news" class="btn btn-link">News</a>
 <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="btn btn-link">LFashion & Beauty</a>
 <a href="https://www.youtube.com/learning" class="btn btn-link disabled">Learning</a>
 </div>
 </div>

   <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history/report_history" class="btn btn-link">Report History</a>
 <a href="hhttps://support.google.com/youtube/?hl=en" class="btn btn-link">Help</a>
 <a href="hhttps://support.google.com/youtube/answer/4347644?hl=en" class="btn btn-link">Send Feedback</a>
 <a href="hhttps://www.youtube.com/about" class="btn btn-link disabled">About</a>
 </div>
 </div>



</section>
    </main>

</div>


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}