{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

<div>
    <main>
   <div class="nav">
       <ul class="nav">
              <li><a href="https://githu" class="nav-link">Home </a></li>
             
              <li><a href="https://www.google.com/" class="nav-link">Contacts </a></li>
          
             
              <li><a href="https://www.youtube.com/"  class="nav-link">Help </a></li>
             <li><a href="#" class=" nav-link disabled">Exit</a></li>
         
       </ul> 
   </div>
   <hr>
   <br>
   <section>
    <div class="row">
      <div class="col-8">
    <div>
      <h2>Відгуки покупців про Ноут</h2>
      <p>Оцінка:4.5/5</p>
    </div>
    <div >

    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " aria-current="page"  href="#">Про товар</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Характеристики</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active"  href="#">Відгуки</a>
  </li>
</ul>
<br>
<br>
  <hr>
  <div class="card ">
    <p>Залиште відгук про товар</p>
    <div class="col-4">
    <a href="https://www.google.com/" class="btn btn-secondary">Написати відгук </a>
    </div>
  </div>
</div>
</div>
<div class="col-4">
<div class="card m-2 p-1">
   <img class=" rounded col-6 p-2 "src="https://picsum.photos/110/110"   >
  <h6>Ноут Asus</h6>
</div>

<div class="card m-2 p-2">
  <h6>25 000 ₴</h6>
  <p>Є в наявності</p>
  <div class="m-2">
<a href="https://www.youtube.com//" class="btn btn-primary m-2">Купити </a>
<a href="https://www.youtube.com/" class="btn btn-secondary">Купити в кредит </a>
  </div>
</div>

<div class="card  m-2">
  <p>Продавець :<strong>Machinery</strong> </p>

</div>
</div>
  <hr>
</div>
  
   </section>
 
   <section>
<div >
 <h3>Хочете поділитись своєю думкою про наш магазин?</h3>
 <div>

 <a href="https://www.google.com/" class="btn btn-warning">Додати  відгук </a>
  <a href="https://www.google.com/" class="btn btn-success">Позитивні відгуки </a>
 <a href="https://www.google.com/" class="btn btn-danger">Негативні відгуки</a>
 </div>
</div>
</div>
</section>
<hr>

<section>
  <div class="card ">
    <div class="row">
    <div class="card col-11 mx-4 my-4 p-2 ">
      <p>Іван Іванов</p>
      <p>Відгук покупця</p>
      <p>1  січня  2023</p>
      <hr>
      <div >
      <p>Продавець: Machinery</p>
      <p>Оцінка: 5/5 </p>
    </div>
    <div>
      <p>"Цей ноутбук має гарний дизайн та добре виконує свої основні функції. Швидкість роботи та продуктивність в цілому є на задовільному рівні. Крім того, присутній достатній обсяг пам'яті та потужність акумулятора.</p>
      <p>Однак, можливі проблеми з перегрівом під час тривалого використання, та може бути недостатньої ємності жорсткого диска для потреб користувача. Крім того, ціна може бути дещо високою порівняно з аналогічними моделями.</p>
    </div>
    <div>
      <p>Переваги:</p>
      <p>Дизайн, швидкість роботи, обсяг пам’яті, акумулятор</p>
    </div>
    <div>
      <p>Недоліки</p>
      <p>Перегрів, ємкість жосткого диску</p>
    </div>
    <div>
       <img class=" rounded "src="https://picsum.photos/110/110"   >
        <img class=" rounded "src="https://picsum.photos/110/110"   >
         <img class=" rounded "src="https://picsum.photos/110/110"   >
    </div>
</div>
    </div> 

    <div class="card col-11  ms-4 me-2 mb-4 p-2 ">
    <h4>Користувач</h4>
    <p>1 січня 2023</p>
    <p>Дякую за відгук, я подумаю про недоліки, про які ви згадували, перш ніж зробити покупку.</p>
    </div>
     <div class="card col-11  ms-4 me-2 mb-4 p-2">
        <h4>Користувач</h4>
        <p>3 січня 2023</p>
        <p>Дякую за корисний відгук! Це допомогло мені зробити вибір щодо покупки ноутбука.</p>
        </div>
    <div class="card col-11  ms-4 me-2 mb-4 p-2">
        <h4>Користувач</h4>
        <p>10 січня 2023</p>
        <p>Дякую за відгук, але я хотів би дізнатися більше деталей про проблеми з перегрівом, щоб зробити зважений вибір перед покупкою.</p>
        </div>
    </div>

    <br>
    <div class="card ">
      <div class="row">
  <div class="card col-11 mx-4 my-4 p-2 ">
    <p>Петро Петров</p>
    <p>Відгук покупця</p>
    <p>1  січня  2023</p>
    <hr>
    <div >
    <p>Продавець: Machinery</p>
    <p>Оцінка: 5/5 </p>
  </div>
  <div>
    <p>Цей ноутбук має гарний дизайн та добре виконує свої основні функції. Швидкість роботи та продуктивність в цілому є на задовільному рівні. Крім того, присутній достатній обсяг пам'яті та потужність акумулятора.</p>
 
  </div>
  <div>
    <p>Переваги:</p>
    <p>Обсяг пам’яті, акумулятор</p>
  </div>
  <div>
    <p>Недоліки:</p>
    <p>Не виявлено</p>
  </div>
  <div>
     <img class=" rounded "src="https://picsum.photos/110/110"   >
  </div>
  </div> 
  <div class="card col-11  ms-4 me-2 mb-4 p-2">
  <h4>Користувач</h4>
  <p>1 січня 2023</p>
  <p>Дякую за відгук, я подумаю про недоліки, про які ви згадували, перш ніж зробити покупку.</p>
  </div>
  </div>
  
</section>


<section>

      <div class="card text-bg-success">
        <h2 class="text-center">Our Services</h2>
       <p class="text-center">We offer a variety of services to meet your needs, including web design, content creation, and social media management.</p>
      <div class="text-center">
      <p> <a href="https://www.youtube.com/" class="btn btn-primary"  role="button">Show More</a></p>
      
      </div>
      </div>
</section>



<hr>

  <section class="row">
  
   <div class="col-2" >
  <div class="list-group">
  <a href="https://www.youtube.com/" class="btn btn-link">Home</a>
  <a href="https://www.youtube.com/feed/subscriptions.com/feed/trending" class="btn btn-link">Trending</a>
  <a href="https://www.youtube.com/feed/subscriptions" class="btn btn-link">Subscriptions</a>
  <a href="https://www.youtube.com/feed/library" class="btn btn-link disabled">Library</a>
  </div>
  </div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history" class="btn btn-link">History</a>
 <a href="https://www.youtube.com/feed/my_videos" class="btn btn-link">Your Videos</a>
 <a href="https://www.youtube.com/live" class="btn btn-link">Live</a>
 <a href="https://www.youtube.com/accoun" class="btn btn-link disabled">Settings</a>
 </div>
 </div>

  <div class="col-2" >
<div class="list-group">
<a href="https://www.youtube.com/playlist?list=WL" class="btn btn-link">Watch Later</a>
<a href="https://www.youtube.com/playlist?list=LL" class="btn btn-link">Liked Videos</a>
<a href="https://www.youtube.com/music" class="btn btn-link">Music</a>
<a href="https://www.youtube.com/gaming" class="btn btn-link disabled">Gaming</a>
</div>
</div>

  <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="btn btn-link">Sports</a>
 <a href="https://www.youtube.com/news" class="btn btn-link">News</a>
 <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="btn btn-link">LFashion & Beauty</a>
 <a href="https://www.youtube.com/learning" class="btn btn-link disabled">Learning</a>
 </div>
 </div>

   <div class="col-2" >
 <div class="list-group">
 <a href="https://www.youtube.com/feed/history/report_history" class="btn btn-link">Report History</a>
 <a href="hhttps://support.google.com/youtube/?hl=en" class="btn btn-link">Help</a>
 <a href="hhttps://support.google.com/youtube/answer/4347644?hl=en" class="btn btn-link">Send Feedback</a>
 <a href="hhttps://www.youtube.com/about" class="btn btn-link disabled">About</a>
 </div>
 </div>

</section>
    </main>

</div>


{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}