{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
 <div>
    <main>
     <div>
        <h3>All skills</h3>
        <ul class="list-group col-6">
         <li class="list-group-item d-flex justify-content-between align-items-center">
         HTML 10
        <span class="badge bg-primary rounded-pill">Top</span>
         </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
           Handlebar 8
            <span class="badge bg-primary rounded-pill">Top</span>
           </li>
         <li class="list-group-item d-flex justify-content-between align-items-center">
           VS Code 8
             <span class="badge bg-primary rounded-pill">Top</span>
         </li>
           <li class="list-group-item d-flex justify-content-between align-items-center">
           Git 7
          <span class="badge bg-primary rounded-pill">Top</span>
          </li> 
             <li class="list-group-item d-flex justify-content-between align-items-center">
          Terminal 8
           <span class="badge bg-primary rounded-pill">false</span>
         </li>
           <li class="list-group-item d-flex justify-content-between align-items-center">
          NPM 9
          <span class="badge bg-primary rounded-pill">Top</span>
         </li>
             <li class="list-group-item d-flex justify-content-between align-items-center">
         React.js 
              <span class="badge bg-primary rounded-pill">зараз вивчаємо</span>
               </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
            NTP
            <span class="badge bg-primary rounded-pill">не вивчаємо</span>
         </li>
      </ul>
     </div>
     <div>
        <h3 class=" m-5">My hobbies</h3>

        <ul class="list-group ">

  <li class="list-group-item list-group-item-success">Music</li>
  <li class="list-group-item list-group-item-danger">Dance</li>
  <li class="list-group-item list-group-item-warning">Sport</li>
 
</ul>
     </div>
    </main>
 </div>

 {{!--
<div>
   

    {{#with main}}
    <main>
        <section>
             {{>title data='All skills' big=true}}

            <ul>
                {{#each skills}}
                <li>
                    {{name}}
                   {{#if point includeZero=true}} {{point}} {{/if}}
                    {{#if isTop}} (top) {{/if}}
                    {{#unless point includeZero=true}} ( не вивчаємо) {{/unless}}

                    {{#unless point}}
                    {{#if point includeZero=true}} (зараз вивчаємо) {{/if}}
                    {{/unless}}
                     </li>
                {{/each}}
            </ul>
        </section>
        <section>
            {{>title data='My hobbies'}}
            <ol>
                {{#each hobbies}}
                <li>
                    {{name}}
                    {{#if isMain includeZero=true}} (favorite) {{/if}}

                </li>
                {{/each}}
            </ol>
        </section>
   
    </main>
{{/with}}
  
</div>
-}}

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}