{{!-- 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        <div>
        <h3>Summary</h3>
        <p>Open-minded for new technologies, with 1 years of experience in development. Whenever I start </p>
        </div>
        <div>
          <h3>Other experience</h3>
          <p>Pet project for parsing sport eparing probability betting data</p>
        </div>
    </main>
</div>
{{!--
<div>
{{#with main}}
    <main>
        <section>
        
    {{>title data=title big=true }}
     
          <div>
            <p>{{summary.text}}</p>
          </div>
      
        </section>

        <section>
            
            {{#with experience}}
            <div>
                <h2>{{title}}</h2>
            </div>
            <div>
                <p>{{text}}</p>
            </div>
            {{/with}}
    </main>
{{/with}}
</div>-}}

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}
