{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div>
     <main>
      <div class="row">

<nav class="navbar navbar-expand-lg col-4">
  
        <a href="https://github.com/" class="btn btn-link">Home</a>

     <a href="https://www.google.com/" class="btn btn-link">Contacts</a>
  
  <a href=""="https://www.youtube.com/" class="btn btn-link">Help</a>

  <a href="https://nodejs.org/en/" class="btn btn-primary"  role="button">Lets start</a>

</nav>
<hr>

<section class="col-3">
  <h1>Welcome to Our Website</h1>
  <p> We offer innovative solutions to help grow your business. Our team of experts is committed to providing tailored strategies that deliver the best results.</p>
 <div>
    <a href="https://www.youtube.com" class="btn btn-primary"  role="button">Learn More</a>
  </div>
</section>
<hr>
<section >
       <h5>City list</h5>
       <div class="row">
<div class="col-6 g-4">
      <div class="card">    

        <img src="https://picsum.photos/400/200" alt="New York">        
        <div class="card-body">
        <h6 class="card-title">New York City</h6>
        <p>New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park.',</p>
        <a href="https://github.com/" class="btn btn-primary"  role="button">Read</a>
        </div>
      </div>
      </div>
     <div class="col-6 g-4">
          <div class="card">
       <img src="https://picsum.photos/400/200" alt="Paris'">        
        <div class="card-body">
         <h6 class="card-title">Paris'</h6>
        <p> Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy, and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture, haute couture fashion houses, and designer boutiques along the Rue du Faubourg Saint-Honoré.</p>
        <a href="https://github.com/" class="btn btn-primary"  role="button">Read</a>
         </div>
       </div>
         </div>
           
           <div class="col-6 g-4">
         <div class="card">
      <img src="https://picsum.photos/400/200" alt="Tokyo">        
       <div class="card-body">
        <h6 class="card-title">Tokyo</h6>
       <p> Tokyo, Japan’s bustling capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens. The city's many museums offer exhibits ranging from classical art (in the Tokyo National Museum) to a reconstructed kabuki theater (in the Edo-Tokyo Museum).</p>
       <a href="https://github.com/" class="btn btn-primary"  role="button">Reac</a>
        </div>
 
        </div>
           </div>
           <div class="col-6 g-4">
         <div class="card">
      <img src="https://picsum.photos/400/200" alt="Sydney">        
       <div class="card-body">
        <h6 class="card-title">Sydney</h6>
       <p>Sydney, capital of New South Wales and one of Australia's largest cities, is best known for its harborfront Opera House, with a distinctive sail-like design. Massive Darling Harbour and the smaller Circular Quay port are hubs of waterside life, with the arched Harbour Bridge and esteemed Royal Botanic Garden nearby. Sydney Tower’s outdoor platform, the Skywalk, offers 360-degree views of the city and suburbs.</p>
       <a href="https://github.com/" class="btn btn-primary"  role="button">Reac</a>
        </div>
 
        </div>
        </div>
        </div>
</section>
        <hr>
        <section>
        <h2>Our winners</h2>  
        <div class="col-6">
       <table class="table ">
        <head>
          <tr>
            <th>#</th>
            <th>name</th>
            <th>surname</th>
            <th>nicname</th>
          </tr>
        </head>
        <tbody>
          <tr>
            <td>1</td>
            <td>Ada</td>
            <td>Lovelace</td>
            <td>The Enchantress of Numbers</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Grace</td>
            <td>Hopper</td>
            <td>Amazing Grace</td>
          </tr>
            <tr>
             <td>3</td>
             <td>Katherine</td>
             <td>Johnson</td>
             <td>The Human Computer</td>
           </tr>
        </tbody>
       </table>
       </div>
       </section>
       <hr>
       <section class="row">
        <h2>Picture history</h2>
        <div class="col-4 gx-2 ">
       <div class="card ">
        <div class="card-header">
          <h5 class="card-title">The Mona Lisa</h5>
        </div>
        <ul class="list-group">
        <li class="list-group-item">Painting'</li>
        <li class="list-group-item">Oil on poplar panel</li>
        <li class="list-group-item">1503-1519</li>
        </ul>
       </div>
        </div>
        <div class="col-4 gx-2 gy-6">
       <div class="card ">
       <div class="card-header">
          <h5 class="card-title">The Persistence of Memory</h5>
        </div>
       <ul class="list-group">
       <li class="list-group-item">Painting</li>
      <li class="list-group-item">Oil on canvas</li>
      <li class="list-group-item">1931</li>
      </ul>
      </div>
      </div>
        <div class="col-4 gx-2 ">
      <div class="card ">
        <div class="card-header">
        <h5 class="card-title">The Starry Night</h5>
        </div>
       <ul class="list-group">
      <li class="list-group-item">Painting</li>
      <li class="list-group-item">Oil on canvas</li>
      <li class="list-group-item">1889</li> 
      </ul>
      </div>
      </div>
      
      </section>
      <hr>

      <section class="row">
        <p class="display-3">Relax</p>
                   <div class="col-5 g-3">
        <div class="card text-bg-secondary">
          <div class="card-header">
           <h5 class="card-title">Meditation</h5>
           </div>
           <div class="card-body">
           <h6 class="card-subtitle  text-body-secondary">The Benefits of Meditation</h6>
           <p class="card-text"> Meditation can help reduce stress, anxiety, and depression, and improve overall well-being. Studies have also shown that regular meditation practice can enhance cognitive function and even boost the immune system.</p>
         </div>
        </div>
        </div>
           <div class="col-5 g-3">
         <div class="card text-bg-secondary">
             <div class="card-header">
              <h5 class="card-title">Hydration</h5>
              </div>
              <div>
              <h6 class="card-subtitle  text-body-secondary">The Importance of Hydrationion</h6>
            <p class="card-text"> Drinking enough water is essential for good health. Dehydration can lead to a range of symptoms, including fatigue, headaches, and constipation. It can also increase the risk of kidney stones and other health problems.</p>
           </div>
         </div>
           </div>
            <div class="col-5 g-3">
         <div class="card text-bg-secondary">
             <div class="card-header">
                 <h5 class="card-title">Yoga</h5>
               </div>
              <div class="card-body">
              <h6 class="card-subtitle  text-body-secondary">The Benefits of Yoga</h6>
              <p class="card-text"> Yoga can improve flexibility, strength, and balance, and help reduce stress and anxiety. It has also been shown to improve heart health and promote a sense of well-being.
              </div>
           </div>  
           </div>
   
            <div class="col-5 g-3">
           <div class="card text-bg-secondary">
             <div class="card-header">
              <h5 class="card-title">Sunscreen</h5>
              </div>
              <div class="card-body">
              <h6 class="card-subtitle  text-body-secondary">The Importance of Sunscreenion</h6>
              <p class="card-text"> Protecting your skin from the sun's harmful rays is crucial for reducing the risk of skin cancer and premature aging. Experts recommend using a broad-spectrum sunscreen with an SPF of at least 30 and reapplying every two hours.
            </div>
           </div>
           </div>

      </section>
      <hr>
      <section class="row">
        <div class="col-6">
        <div class="card text-center">
          <div class="card-header">
            Cooking
         </div>
        <div class="card-body">
         <h5 class="card-title">The Joy of Cooking</h5>
            <p class="card-text">'Cooking is a creative outlet that can bring people together over delicious food.',</p>
          <a href="#" class="btn btn-primary">Learn More</a>
         </div>
       <div class="card-footer text-body-secondary">
          Photo by Brooke Lark on Unsplas
           </div>
      </div>
      </div>
         <div class="col-6">
           <div class="card text-center">
       <div class="card-header">
         Travel
         </div>
        <div class="card-body">
            <h5 class="card-title">The Benefits of Traveling</h5>
            <p class="card-text">Traveling broadens your perspective, provides new experiences, and creates lasting memories..</p>
          <a href="#" class="btn btn-primary">Explore</a>
       </div>
      <div class="card-footer text-body-secondary">
          Photo by Sime Basioli on Unsplash
       </div>
        </div>
        </div>
      </section>
      <hr>
      <section class="row">
        <p class="display-2">Proposition</p>

        <div class="col-6">
           <div class="card text-bg-warning ">
             <div class="card-header">
           Our Approach
         </div>
        <div class="card-body">
            <h5 class="card-title">Innovative Solutions for Your Business</h5>
           <p class="card-text">We create effective solutions that cater to your business needs.</p>
        </div>
           </div>
           </div>
            <div class="col-6">
            <div class="card text-bg-warning">
          <div class="card-header">
               Our Expertise
            </div>
           <div class="card-body">
               <h5 class="card-title">Trusted and Experienced Professionals</h5>
              <p class="card-text">Our team of experts delivers tailored strategies for best results.</p>
           </div>
              </div>
                </div>
      </section>
      <hr>
  
      <section class="row">
        
      <div class="list-group col-3 ">
        
          <a href="https://github.com/" class="btn btn-link">Home</a>
           <a href="https://www.google.com/" class="btn btn-link">Contacts</a>
            <a href="https://www.youtube.com/" class="btn btn-link">Help</a>
          
      </div>
        <div class="list-group col-3">
       
      <a href="https://www.facebook.com/" class="btn btn-outline-secondary"  role="button" >Facebook</a>
       <a href="https://twitter.com/" class="btn btn-outline-secondary"  role="button" >Twitter</a>
       <a href="https://www.instagram.com/" class="btn btn-outline-secondary"  role="button" >Instagram</a>
       </ul>
        </div>
        <div class=" list-group col-3 ">
          
          <a href="https://www.acme.com/" class="btn btn-outline-info"  role="button" >Acme Inc.</a>
          <a href="https://www.globex.com/" class="btn btn-outline-info"  role="button" >Globex Corporation</a>
          <a href="https://www.starkindustries.com/" class="btn btn-outline-info"  role="button" >Stark Industrie</a>
          
        </div>
      </section>
      
           
</div>
 </main>   
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}